* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navBar {
  background: rgb(201, 190, 190);
}
.hoverNavbar:hover {
  background: rgb(68, 64, 64);
  padding: 5px;
  border: 1px solid rgb(247, 247, 250);
  color: white !important;
}
.dropdownNavbar {
  background: red;
}
.topSection {
  background: gray;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.topItem {
  color: red;
  float: left;
}
.topSection button {
  background: white !important;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* Navbar css */
.box {
  background: red;
  margin: 1px;
  height: 60px;
  text-align: center;
}

/* Table css */
.header {
  position: sticky;
  top: 0;
}
.container {
  width: 600px;
  height: 300px;
  overflow: auto;
}
h1 {
  color: green;
}
/* Card Design */

/* Float four columns side by side */
.column {
  float: left;
  width: 8%;
  padding: 0 2px;
  height: 100%;
  cursor: pointer;
  margin: 1px 0;
}
.column2 {
  float: right;
  width: 28%;
  padding: 0 2px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 0;
  background: blue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (min-width: 350px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .column2 h3,
  p {
    width: 100%;
    text-align: justify;
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 10px;
  }
  .column2 h3,
  p {
    width: 50%;
    text-align: justify;
    font-size: 15px;
  }
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 2px;
  text-align: center;
  background-color: #f1f1f1;
  height: 100px;
}
